*,html{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Kanit', sans-serif;
}
header{ 
    position: fixed;
    display: block; 
    height: 100px; 
    padding: 3px; 
    left:0; right:0; top:0; 
    z-index:5;
    line-height: 66px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
}
.logo{
    float: left;
    transform: translate(25%, 3%);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 500px;
    transform: translate(80px,5%);
    font-size: 20px;
    justify-content: space-evenly;
    
}
.dropdown{
    float: right;
    transform: translate(-20%,20%);
}
.tes{
    transform: translate(10%, 90%);
    text-align: left;
    width: 80%;
}
.tes2{
    font-size: 75px;
}
.tes3{
    font-size: 30px;
}
.tes4{
    font-size: 25px;
}
.foto{
    width: 25%;
    background-color: aqua;
    transform: translate(120%,-25%);
    border-radius: 10px;
}
#hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 62px;
    animation: fadein 3s;
    color: black;
    text-decoration: none;
}
.hero:hover{
    transition: none;
}
@keyframes fadein{
    from{
        opacity: 0;
        transform:translateY(-90px) ;
    }
    to{
        opacity: 1;
        transform:translateY(0px)
    }
}
#aboutme{
    background-color: aliceblue;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#judulabout{
    transform: translate(20%,400%);
}
#textabout{
 flex-direction: row;
 width: 35%;
 transform: translate(20%,5%);
}
.text{
    transform: translate(0%,210%);
    font-size: 20px;
}
.foto1{
    width: 20%;
    transform: translate(330%,-2%);
    border-radius: 20px;
}
#skills{
    display: flex;
    background-color: white;
    padding-bottom: 150px;
    text-decoration: none;
}
#judulskill{
    padding-top: 160px;
}
#logohtml{
    size: 200%;
}
#listskill{
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
}
.logo{
    width: 18%;
}
#listlogo{
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
    transform: translate(-7%,-20%);
}
.text1{
    font-size: 20px;
    font-weight: 700;
    transform: translate(25%,150%);
}
#judultext1{
    transform: translate(500%,250%);
    width: 100px;
    font-size: 50px;
    font-weight: 500;
}
#judultext2{
    transform: translate(550%,120%);
    width: 100px;
    font-size: 50px;
    font-weight: 500;
}

#aboutme1{
    background-color: aliceblue;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#aboutme2{
    background-color: white;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.text2{
    font-size: 60px;
    font-weight: 600;
}
.text3{
    font-size: 40px;
    font-weight: 400;
}
.text4{
    font-size:25px ;
}
#textabout1{
    flex-direction: row;
    width: 50%;
    transform: translate(90%,80%);
}
.foto2{
    width: 30%;
    transform: translate(10%,-30%);
    border-radius: 20px;
}

footer{
    height: 70px; 
    background-color:white; 
}
.footerteks{
    font-family: sans-serif;
    font-size: large;
    padding: 25px;
    float: right;
}
.youtube{
    width:50%;    
}
.logoinstagram{

    text-align: center;
    margin-top: 14px;
    width: 7%;
}
.logoemail{

    text-align: center;
    margin-top: 14px;
    width: 7%;
}
.logoyoutube{

    text-align: center;
    margin-top: 14px;
    margin-left: 10px;
    width: 7%;
}
.logofooter{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}