*,html{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Kanit', sans-serif;
}
header{ 
    position: fixed;
    display: block; 
    height: 100px; 
    padding: 3px; 
    left:0; right:0; top:0; 
    z-index:5;
    line-height: 66px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
}
.logo{
    float: left;
    transform: translate(25%, 3%);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 500px;
    transform: translate(80px,5%);
    font-size: 20px;
    justify-content: space-evenly;
    
}
.dropdown{
    float: right;
    transform: translate(-20%,20%);
}
.tes{
    transform: translate(15%, 190%);
    text-align: left;
    width: 80%;
}
.tes2{
    font-size: 75px;
}
.tes3{
    font-size: 30px;
}
.tes4{
    font-size: 25px;
}
.foto{
    width: 25%;
    background-color: aqua;
    transform: translate(100%, 10%);
    border-radius: 10px;
}
.page{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 230px;
    color: black;
    text-decoration: none;
}
.hero:hover{
    transition: none;
}
.page1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 446px;
    text-decoration: none;
    background-color: green;
}
#judulabout{
    transform: translate(0%, 190%);
    font-size: 55px;
}
.foto4{
    width: 20%;
    transform: translate(330%, 46%);
    border-radius: 20px;
}

#textabout{
 flex-direction: row;
 width: 45%;
 transform: translate(20%,50%);
}
.text{
    transform: translate(-10%,110%);
    font-size: 32px;
}
#skills{
    display: flex;
    background-color: white;
    padding-bottom: 312px;
    text-decoration: none;
    width: 100%;
}

.judulskill{
    padding-top: 10%;
    font-size: 55px;
}
.logo{
    width: 30%;
    margin: auto;
}
.list{
    display: flex;
    flex-direction: column;
}
.list-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    transform: translate(-2% ,30%);
}

#aboutme1{
    background-color: green;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.foto1{
    width: 20%;
    transform: translate(330%, -40%);
    border-radius: 20px;
}
.text1{
    font-size: 32px;
    transform: translate(0% , 15%);
}

#judultext2{
    transform: translate(550%,130%);
    width: 100px;
    font-size: 50px;
    font-weight: 500;
}
#aboutme2{
    padding-bottom: 100px;

}
.project1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.div1{
    transform: translate(0% , -30%);
}
.text2{
    font-size: 60px;
    font-weight: 600;
}
.text3{
    font-size: 40px;
    font-weight: 400;
}
.text4{
    font-size:25px ;
}
.textabout1{
    width: 50%;

}
.foto2{
    width: 30%;
    transform: translate(-20%,-10%);
    border-radius: 20px;
}

